* {
    background-color: powderblue;
}

h1 {
    font-family: "Brush Script MT", cursive;
    font-size: 64px;
    text-align: center;
}

h2 {
    font-family: "Courier New",monospace;
    font-weight: bold;
}

p,
li {
    font-family: Verdana, Arial, sans-serif;
}

.index {
    font-size: 36px;
}

img {
    width: auto;
    height: 500px;
}